<!DOCTYPE html>
<html>
<head>
    <title>90PlusWorks dev solutions</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body style = "background-color: #f8f2de;">
<div  id="div1">
    <% include templates/header.ejs %>

    <ul>
        <% for (var i = 0; i < 3; i++){ %>
        <li><h1>90PlusWorks use  <%= compliments[i] %></h1></li>
        <% } %>
    </ul>

    <h3>BECAUSE: </h3>

    <ul>
        <% videodata.categories.forEach(function(item){ %>
            <li>
                <%= item.categoryName %>
            </li>
        <%})%>
    </ul>

    <h3>AND: </h3>
    <h4>Add an Event by Specifying the full event name:</h4>
    <form action="/test/submit" method="post">
        <input type="text" name="id">
        <button type="submit">Create Event</button>
    </form>


</body>
</html>
