<div style = "background-color:rgb(232,232,232); width: wwh + "px";" id="div1">
<a href="/" class="button">CICO Costing</a> |
<a href="/about" class="button">About</a> |
<a href="/test/4" class="button">Listing</a> |
<a href="https://google.com" class="button">Go to 90PlusWorks</a>
</div>
