@font-face {
  font-family: "SU-raleway";
  src: url('font/SU-raleway-black.ttf') format('truetype');
  src: url('font/SU-raleway-medium.ttf') format('truetype');
  src: url('font/SU-raleway-bold.ttf') format('truetype');
  src: url('font/SU-raleway-regular.ttf') format('truetype');
} 
html, body {

width: 100%;
height: 100%;
$brand-maroon: #60223b;
$brand-gray: #8c979a;
$brand-gold: rgb(255,230,200);
$brand-gold: #967140;
$brand-maroon-light: rgb(255,210,220);
$brand-gray-light: rgb(232,250,255);
$brand-gold-light: rgb(255,240,220);
font-family: Tahoma, Menlo, Courier, Tahoma, sans-serif;
font-size: 15px;
}

#mainParent {

background-color: #60223b;
width: 100%;
height: 50%;
font-family: "SU-raleway", "Lucida Grande", Calibri, Tahoma, sans-serif;

}
* {

margin: 0;

}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}
